    * {
        margin: 0;
        padding: 0;
        box-sizing: content-box;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        outline: none;
    }
    
    html,
    body {
        /* height: calc(100% - 23px);*/
        background-color: #fff;
    }
    
    .center {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .topo .center {
        height: 100%;
    }
    
    .topo {
        width: 100%;
        background-color: #eead2d;
        height: 100px;
    }
    
    h1 {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    
    img {
        cursor: pointer;
        width: 100px;
        height: 100px;
        position: relative;
        top: -75px;
    }
    
    .formulario {
        font-size: small;
        display: flex;
        flex-direction: row;
        width: 100%;
        position: absolute;
        height: calc(100% - 104px);
    }
    
    fieldset {
        width: 500px;
        position: absolute;
        left: 50%;
        top: 62%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        height: 650px;
        padding: 30px 0;
        border-radius: 10px;
    }
    
    fieldset form .box {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    
    fieldset form .box input {
        height: 45px;
        width: 90%;
        margin: 10px auto;
        border: 1.1px solid#eead2d;
        display: inline-block;
        border-radius: 10px;
        color: black;
        font-size: 15px;
        font-weight: lighter;
        padding: 0 5px;
    }
    
    fieldset form .box input[type="submit"] {
        background-color: #eead2d;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    
    fieldset form .box input[type="radio"] {
        width: 15px;
        height: 15px;
        padding: 5%;
    }
    
    .box span.aviso-cadastro {
        color: #FF2626;
        font-weight: lighter;
        float: left;
        margin-left: 20px;
        font-size: 13px;
    }
    
    .box span.link-cadastro {
        color: #013243;
        float: left;
        margin-left: 20px;
        font-size: 12px;
    }
    
    .box span.link-cadastro a {
        color: #013243;
        font-weight: bold;
    }
    
    .box span.voltar-page {
        color: #013243;
        float: left;
        margin-left: 0px;
        font-size: 15px;
    }
    
    .rodape {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 5px;
    }
    
    .rodape p {
        color: #013243;
        font-size: 12px;
        font-weight: bold;
    }
    
    a {
        display: flex;
        justify-content: center;
    }